.app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  background: linear-gradient(#c4e8b8 0%, #bbe2dc 100%);
  padding: 10px;
  display: grid;
  place-items: center;
}

main {
  overflow: auto;
}
.header__input {
  border: none;
  border-radius: 50px;
  padding: 5px;
  margin-top: 10px;
}

footer {
  background: linear-gradient(#c4e8b8 0%, #bbe2dc 100%);
}
.colorful-border {
  border-style: solid;
  border-image-slice: 1;
  border-width: 5px 0;
  border-image-source: var(--bg-border);
}
